.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 10px;
    max-height: 100vh; 
    width: 300px; 
    transition: width 0.3s ease; 
    box-sizing: border-box; 
    border-top-right-radius: 3%; 
    border-bottom-right-radius: 3%; 
}


.sidebar.collapsed {
    width: 80px; /* Width for collapsed state */
}


.sidebar .top {
    margin-top: 15px;
}


.sidebar img {
    width: 25px;
}


.sidebar .menu {
    display: block;
    margin-left: 5px;
    cursor: pointer;
}


.sidebar .new-chat {
    margin-top: 50px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.sidebar .recent {
    flex-direction: column;
    max-height: 700px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    padding-right: 10px; 
    box-sizing: border-box; 
}


.sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
}


.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 180px;
    border-radius: 40px;
    color: #282828;
    cursor: pointer;
    width: 100%; 
    box-sizing: border-box; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}


.sidebar .recent-entry:hover {
    background-color: #e2e6eb;
}


@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}
 